<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                    <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <h3 data-aos="fade-up">Chúng tôi đang thực hiện sứ mệnh thúc đẩy mọi học sinh</h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Hiện nay, Quizizz hỗ trợ hàng triệu sinh viên tại hơn 100 quốc gia và có văn phòng tại Bangalore
                        và Santa Monica, California.

                    </p>
                    <div class="row">
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-receipt"></i>
                            <h4>Đa dạnh nội dung</h4>
                            <p>
                                Cung cấp đa dạng nội dung các câu trắc nghiệm thuộc nhiều lĩnh vực khác nhau
                            </p>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Ma trận câu hỏi</h4>
                            <p>Hệ thống sẻ dựa vào ma trận câu hỏi để tự tổng hợp thành trắc nghiệm</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Dịch vụ
                </h2>
                <p>Kiểm tra các dịch vụ tuyệt vời mà chúng tôi cung cấp</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Hơn 10 triệu sinh viên sử dụng Quizizz.
                            </a></h4>
                        <p class="description">Quiz là hệ thống cung cấp website trắc nghiệm trực tuyến cho các cá nhân,
                            tổ chức có nhu cầu cung cấp các đề thi trực tuyến cho người học.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Nửa tỷ câu hỏi được trả lời mỗi tháng.
                            </a></h4>
                        <p class="description">Người dùng có thể dễ dàng tạo lập cho mình một website tổ chức ôn tập,
                            thi trắc nghiệm trực tuyến miễn phí</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">1 trong 2 trường học ở Hoa Kỳ sử dụng Quizizz.
                            </a></h4>
                        <p class="description">Quiz không giới hạn đối tượng sử dụng. Bạn là một cá nhân/trung tâm/
                            trường học/doanh nghiệp có nhu cầu tạo đề thi trắc nghiệm.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Đang phát triển nhanh chóng </a></h4>
                        <p class="description">Với kho module (tính năng) và giao diện đa dạng, phong phú, đội ngũ hỗ
                            trợ tận tình, Quiz cam kết mang lại sự hiệu quả nhất cho khách hàng sử dụng dịch vụ.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Hỏi đáp</h2>
                <p>Các câu hỏi thường gặp
                </p>
            </div>

            <ul class="faq-list">

                <li data-aos="fade-up" data-aos-delay="100">
                    <a data-toggle="collapse" class="" href="#faq1">Tôi có thể yêu cầu xây dựng thêm tính năng cho
                        website của mình?

                        <i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse show" data-parent=".faq-list">
                        <p>
                            Quiz sẵn sàng mở rộng tính năng áp dụng cho từng website cụ thể trong cùng hệ thống. Để làm
                            phong phú hơn website của bạn, bạn có thể yêu cầu Quiz lập trình thêm tính năng. Nếu là
                            tính năng mang tính cá nhân, bạn sẽ phải trả một khoản phí cho việc xây dựng tính năng đó,
                            ngược lại nếu tính năng mang tính cộng đồng (ai cũng có nhu cầu) thì Quiz sẽ bổ sung cho
                            hệ thống của chúng ta hay hơn mà bạn không cần một khoản phí nào.

                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Đơn vị tôi có nhu cầu tổ chức các kỳ thi
                        học kỳ, kỳ thi học sinh giỏi,... trên máy tính, đơn vị đã có phòng máy, Quiz có phù hợp để làm
                        điều này?
                        <i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <p>
                            Quiz không được thiết kế để làm việc này. Hệ thống Quiz của chúng tôi có thể đáp ứng
                            được nhu cầu của bạn, bạn xem giới thiệu chi tiết hơn tại Quiz - Hệ thống tổ chức thi
                            trắc nghiệm tập trung

                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Đơn vị tôi đã có máy chủ cài đặt websever,
                        tôi có thể mua mã nguồn trắc nghiệm của quiz để cài đặt và tự quản lý?
                        <i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <p>
                            Quiz sẵn sàng phân phối mà nguồn tạo điều kiện cho các đơn vị tự quản lý hệ thống đề thi
                            trắc nghiệm của mình. Quiz cung cấp dịch vụ bảo hành, bảo trì miễn phí nhằm mang lại cho
                            khách hàng sự trải nghiệm tốt nhất.

                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <a data-toggle="collapse" href="#faq4" class="collapsed">Em xin thầy gửi lời cầu xin của em đến Ban
                        giám đốc trường mình để xuống tiền vệ sinh dàn máy lạnh chạy từ lúc gà gáy đến lúc hoàng hôn ạ.
                        Máy lạnh mở nhiệt độ thấp hết cỡ mà không hề mát mẻ gì gây lãng phí rất nhiều tiền bạc của
                        trường và tài nguyên điện của quốc gia ạ <i class="icofont-simple-up"></i></a>
                    <div id="faq4" class="collapse" data-parent=".faq-list">
                        <p>
                            Cảm ơn bạn đã phản hồi. Bộ phận hành chánh đã rà soát và khắc phục.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="500">
                    <a data-toggle="collapse" href="#faq5" class="collapsed">Em nghĩ là phần của cô dạy trong có vẻ như
                        là copy past như việc cô dạy trên lap xong cô sẽ cho thời gian để làm y chang trên bảng nên em
                        thấy là giống một bản copy past hơn <i class="icofont-simple-up"></i></a>
                    <div id="faq5" class="collapse" data-parent=".faq-list">
                        <p>
                            Bộ môn sẽ trao đổi với giảng viên về chuyên môn
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="600">
                    <a data-toggle="collapse" href="#faq6" class="collapsed">Không biết sau chứ thấy thầy dạy cứ lan
                        mang không theo chủ đề bày học. Bài online 1 đường học trên lớp 1 nẻo. Cần khắc phục <i
                            class="icofont-simple-up"></i></a>
                    <div id="faq6" class="collapse" data-parent=".faq-list">
                        <p>
                            Bộ môn đã trao đổi với giảng viên đứng lớp về phương pháp giảng dạy
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Thành viên</h2>
                <p>Nhóm của chúng tôi luôn ở đây để giúp đỡ
                </p>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member">
                        <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="member">
                        <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="member">
                        <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Liên hệ chúng tôi
                </h2>
                <p>Liên hệ với chúng tôi để bắt đầu</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="fas fa-map-marker-alt"></i>
                            <h4>Địa chỉ:</h4>
                            <p>Văn phòng Tuyển sinh: 778/B1 Nguyễn Kiệm, P.4, Q. Phú Nhuận, TP. Hồ Chí Minh
                            </p>
                        </div>

                        <div class="email">
                            <i class="fas fa-envelope"></i>
                            <h4>Email:</h4>
                            <p>quiz.info@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="fas fa-phone"></i>
                            <h4>Điện thoại:</h4>
                            <p>(028) 6252 3434 – (028) 3526 8799

                            </p>
                        </div>

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Tên của bạn</label>
                                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                    data-msg="Nhập ít nhất 4 kí tụ" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Email</label>
                                <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                    data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Tiêu đề</label>
                            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                                data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="name">Nội dung</label>
                            <textarea class="form-control" name="message" rows="10" data-rule="required"
                                data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Gửi đi</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Us Section -->

</main><!-- End #main -->