
.headinput input{
    height: 50px;
    position: relative;
    padding-left: 50px;
}

.headinput button{
    /* height: 55px; */
    position: absolute;
    top: 5px;
    right: 5px;
}

.course-list .card {
    height: 320px;
    width: 24%;
    margin-bottom: 1%;
    transition: all 0.7s;
    overflow: hidden;
}


.card .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.course-list .card img{
    height: 150px;
    object-fit: scale-down;
    transition: all 0.7s;
}

.course-list .card:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.course-list .card:hover img {
	transform: scale(1.1);
}