<div class="sidebar pt-3 ">
    <div class="text-center">
        <i class="fab fa-angular"></i>
    </div>

    <ul class="nav">
        <div class="login-q row">
            <span class="col-3">
                <i class="fas fa-user-plus"></i>
            </span>

            <span class="col-9">
                <p class="m-0">Đã có tài khoản </p>
                <a href="" class="a-p">Đăng nhập ngay</a>
            </span>
        </div>

        <hr class="myhr">
        <button type="button" class="btn ">
            <i class="fas fa-plus-circle mr-2"></i>
            Tạo Quiz
        </button>
        <hr class="myhr">

        <li class="nav-item">
            <a class="nav-link active a-b" aria-current="page" href="#">
                <i class="fas fa-map-signs"></i>
                Khám phá
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link a-b" href="#">
                <i class="fas fa-bookmark"></i>
                Thư viện của tôi
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link a-b" href="#">
                <i class="fas fa-chart-line"></i>
                Thống kê
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link a-b" href="#">
                <i class="fas fa-chalkboard-teacher"></i>
                Lớp học
            </a>
        </li>
        <hr class="myhr">
        <li class="nav-item">
            <a class="nav-link a-b" href="#">
                <i class="fas fa-user"></i>
                Tài khoản
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link a-b" href="#">
                <i class="fas fa-cog"></i>
                Cài đặt
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link a-b" href="#">
                <i class="fas fa-sign-out-alt"></i>
                Thoát
            </a>
        </li>
    </ul>
</div>