<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq section-bg" style="margin-top: 80px;">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Hỏi đáp</h2>
            <p>Các câu hỏi thường gặp
            </p>
        </div>

        <ul class="faq-list">

            <li data-aos="fade-up" data-aos-delay="100">
                <a data-toggle="collapse" class="" href="#faq1">Tôi có thể yêu cầu xây dựng thêm tính năng cho
                    website của mình?

                    <i class="icofont-simple-up"></i></a>
                <div id="faq1" class="collapse show" data-parent=".faq-list">
                    <p>
                        Quiz sẵn sàng mở rộng tính năng áp dụng cho từng website cụ thể trong cùng hệ thống. Để làm
                        phong phú hơn website của bạn, bạn có thể yêu cầu Quiz lập trình thêm tính năng. Nếu là
                        tính năng mang tính cá nhân, bạn sẽ phải trả một khoản phí cho việc xây dựng tính năng đó,
                        ngược lại nếu tính năng mang tính cộng đồng (ai cũng có nhu cầu) thì Quiz sẽ bổ sung cho
                        hệ thống của chúng ta hay hơn mà bạn không cần một khoản phí nào.

                    </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
                <a data-toggle="collapse" href="#faq2" class="collapsed">Đơn vị tôi có nhu cầu tổ chức các kỳ thi
                    học kỳ, kỳ thi học sinh giỏi,... trên máy tính, đơn vị đã có phòng máy, Quiz có phù hợp để làm
                    điều này?
                    <i class="icofont-simple-up"></i></a>
                <div id="faq2" class="collapse" data-parent=".faq-list">
                    <p>
                        Quiz không được thiết kế để làm việc này. Hệ thống Quiz của chúng tôi có thể đáp ứng
                        được nhu cầu của bạn, bạn xem giới thiệu chi tiết hơn tại Quiz - Hệ thống tổ chức thi
                        trắc nghiệm tập trung

                    </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
                <a data-toggle="collapse" href="#faq3" class="collapsed">Đơn vị tôi đã có máy chủ cài đặt websever,
                    tôi có thể mua mã nguồn trắc nghiệm của quiz để cài đặt và tự quản lý?
                    <i class="icofont-simple-up"></i></a>
                <div id="faq3" class="collapse" data-parent=".faq-list">
                    <p>
                        Quiz sẵn sàng phân phối mà nguồn tạo điều kiện cho các đơn vị tự quản lý hệ thống đề thi
                        trắc nghiệm của mình. Quiz cung cấp dịch vụ bảo hành, bảo trì miễn phí nhằm mang lại cho
                        khách hàng sự trải nghiệm tốt nhất.

                    </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
                <a data-toggle="collapse" href="#faq4" class="collapsed">Em xin thầy gửi lời cầu xin của em đến Ban
                    giám đốc trường mình để xuống tiền vệ sinh dàn máy lạnh chạy từ lúc gà gáy đến lúc hoàng hôn ạ.
                    Máy lạnh mở nhiệt độ thấp hết cỡ mà không hề mát mẻ gì gây lãng phí rất nhiều tiền bạc của
                    trường và tài nguyên điện của quốc gia ạ <i class="icofont-simple-up"></i></a>
                <div id="faq4" class="collapse" data-parent=".faq-list">
                    <p>
                        Cảm ơn bạn đã phản hồi. Bộ phận hành chánh đã rà soát và khắc phục.
                    </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
                <a data-toggle="collapse" href="#faq5" class="collapsed">Em nghĩ là phần của cô dạy trong có vẻ như
                    là copy past như việc cô dạy trên lap xong cô sẽ cho thời gian để làm y chang trên bảng nên em
                    thấy là giống một bản copy past hơn <i class="icofont-simple-up"></i></a>
                <div id="faq5" class="collapse" data-parent=".faq-list">
                    <p>
                        Bộ môn sẽ trao đổi với giảng viên về chuyên môn
                    </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="600">
                <a data-toggle="collapse" href="#faq6" class="collapsed">Không biết sau chứ thấy thầy dạy cứ lan
                    mang không theo chủ đề bày học. Bài online 1 đường học trên lớp 1 nẻo. Cần khắc phục <i
                        class="icofont-simple-up"></i></a>
                <div id="faq6" class="collapse" data-parent=".faq-list">
                    <p>
                        Bộ môn đã trao đổi với giảng viên đứng lớp về phương pháp giảng dạy
                    </p>
                </div>
            </li>

        </ul>

    </div>
</section><!-- End F.A.Q Section -->