.btnaro {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
    transition: all 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnaro:hover {
    background-color: rgb(180, 180, 180);
}

.stikybtn {
    position: sticky;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.stikybtn button{
    width: 49%;
    height: 50px;
}

.no-copy {
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.btn-light-active {
    background-color: #34495e;
    color: honeydew;
}