<footer id="footer">

    <div class="footer-newsletter" data-aos="fade-up">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Tham gia bản tin của chúng tôi
                    </h4>
                    <p>Nhập email để cập nhật những tin tức mới nhất về quizz</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Tham gia ngay"
                            placeholder="Nhập email của bạn">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
                    <h3>Quiz</h3>
                    <p>
                        Văn phòng Tuyển sinh: 778/B1 Nguyễn Kiệm, P.4, Q. Phú Nhuận, TP. Hồ Chí Minh
                        <br>
                        <strong>Điện thoại:</strong> (028) 6252 3434 – (028) 3526 8799<br>
                        <strong>Email:</strong> quiz.info@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
                    <h4>Liên kết</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Giới thiệu</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản dịch vụ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
                    <h4>Dịch vụ của chúng tôi</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Thiết kế web</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#"> Quản lý dự án</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Kinh doanh</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Đồ họa</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
                    <h4>Liên kết mạng xã hội</h4>
                    <p>Xem thông tin tại</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fab fa-google"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Bản quyền <strong><span>Quiz</span></strong>. toàn quyền quản lý
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
            Thiết kế bởi google
        </div>
    </div>
</footer>