.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    background-color: #fff;
}

.navbar .form-inline button {
    background-color: #eb4d4b;
    color: white;
    transition: all 0.7s;
}

.navbar-brand {
    font-size: 2rem;
    color: #eb4d4b;
    transition: all 0.7s;
}

.navbar-brand:hover {
    color: #5d4fcc;
}

.navbar .form-inline button:hover {
    background-color: #d8201d;
}