<!-- ======= About Section ======= -->
<section id="about" class="about" style="margin-top: 80px;">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Giới thiệu
            </h2>
            <p>Qúa trình hình thành</p>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">Chúng tôi đang thực hiện sứ mệnh thúc đẩy mọi học sinh</h3>
                <p data-aos="fade-up" data-aos-delay="100">
                    Hiện nay, Quizizz hỗ trợ hàng triệu sinh viên tại hơn 100 quốc gia và có văn phòng tại Bangalore
                    và Santa Monica, California.

                </p>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-receipt"></i>
                        <h4>Đa dạnh nội dung</h4>
                        <p>
                            Cung cấp đa dạng nội dung các câu trắc nghiệm thuộc nhiều lĩnh vực khác nhau
                        </p>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Ma trận câu hỏi</h4>
                        <p>Hệ thống sẻ dựa vào ma trận câu hỏi để tự tổng hợp thành trắc nghiệm</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->