<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg" style="margin-top: 70px;">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Dịch vụ
            </h2>
            <p>Kiểm tra các dịch vụ tuyệt vời mà chúng tôi cung cấp</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">Hơn 10 triệu sinh viên sử dụng Quizizz.
                        </a></h4>
                    <p class="description">Quiz là hệ thống cung cấp website trắc nghiệm trực tuyến cho các cá nhân,
                        tổ chức có nhu cầu cung cấp các đề thi trực tuyến cho người học.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Nửa tỷ câu hỏi được trả lời mỗi tháng.
                        </a></h4>
                    <p class="description">Người dùng có thể dễ dàng tạo lập cho mình một website tổ chức ôn tập,
                        thi trắc nghiệm trực tuyến miễn phí</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">1 trong 2 trường học ở Hoa Kỳ sử dụng Quizizz.
                        </a></h4>
                    <p class="description">Quiz không giới hạn đối tượng sử dụng. Bạn là một cá nhân/trung tâm/
                        trường học/doanh nghiệp có nhu cầu tạo đề thi trắc nghiệm.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Đang phát triển nhanh chóng </a></h4>
                    <p class="description">Với kho module (tính năng) và giao diện đa dạng, phong phú, đội ngũ hỗ
                        trợ tận tình, Quiz cam kết mang lại sự hiệu quả nhất cho khách hàng sử dụng dịch vụ.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->