<div class="container">

    <div class="card mb-3 mt-3">
        <div class="row">
            <div class="col-3">
                <img src="assets/images/{{mySubjects.Logo }}" alt="...">
            </div>
            <div class="col-6">
                <span class="badge badge-dark my-3">Quiz</span>
                <br>
                <h4 class="a-r">{{mySubjects.Name}}</h4>
                <p style="color: gray; font-size: 0.8rem;">
                    <span> <i class=" fas fa-bullseye mr-2"></i> Độ chính xác trung bình 92% </span>
                    <span> <i class="fas fa-play mx-2"></i> 1000 lược tham gia</span>
                </p>
                <p style="color: gray; font-size: 0.8rem;">
                    <span><i class="fas fa-graduation-cap mr-2"></i> Lớp 10</span>
                    <span class="ml-3"> <i class="fas fa-book  mx-2"></i>Môn tin</span>
                </p>
            </div>
            <div class="col-3 d-flex pt-3 justify-content-end aligt-center">
                <span class="btnaro mx-2">
                    <i class="fas fa-exclamation"></i>
                </span>
                <span class="btnaro mx-2">
                    <i class="fas fa-copy"></i>
                </span>
                <span class="btnaro mx-2 mr-3">
                    <i class="fas fa-print"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 p-5">
        <div class="row justify-content-between">
            <div style="color: gray;"><i class="fas fa-bullseye mr-2"></i>Câu hỏi {{index+1}}</div>
            <div style="color: gray;"><i class="far fa-clock mr-2"></i>
                <countdown [config]="config" (event)="onTimerFinished($event)"></countdown>
            </div>
        </div>
        <div class="row">
            <p class="no-copy mt-2" style="font-weight: 600;">
                <span>{{index + 1}}.{{ " "+ cauhoi.Text }}</span>
            </p>
        </div>
        <div class="row mb-3" style="position: relative; ">
            <small style="position: absolute; background: #fff; top: 6px; left: 30px; padding: 0 10px;">Câu trả
                lời</small>
            <hr style="width: 100%; height: 1px; background-color: rgb(211, 211, 211);">
        </div>
        <div class="row">
            <div class="option-list w-100">

                <div *ngFor="let item of cauhoi.Answers ; index as i " class="mb-3">
                    <input type="radio" id="{{item.Id}}" name="answer" value="" class="mr-3"
                        [checked]="checkda(item.Id)" (click)="chooseA($event)">
                    <label for="{{item.Id}}"> Câu {{i+1}}: {{item.Text}} </label>
                </div>

            </div>
        </div>

        <div class="row mb-3" style="position: relative; ">
            <hr style="width: 100%; height: 0.5px; background-color: rgb(228, 228, 228);">
        </div>

        <div class="row  justify-content-between">
            <div class="col-4">
                <p class="m-0">Câu {{index+1}} / 10 câu</p>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-primary mr-3" (click)="prevQ()" [disabled]="index == 0">Câu trước
                    đó</button>
                <button type="button" class="btn btn-primary mr-3" (click)="nextQ()" [disabled]="index > 8">Câu tiếp
                    theo</button>
                <button type="button" class="btn btn-danger" (click)="finish()">Kết
                    thúc</button>
            </div>

        </div>
    </div>
    <!-- <div class="stikybtn">
        <button type="button" class="btn color-r">
            <i class="fas fa-feather-alt mr-3"></i>Bắt đầu ngay
        </button>
        <button type="button" class="btn color-r">
            <i class="fas fa-chalkboard-teacher mr-3"></i> Học bài trước
        </button>
    </div> -->
</div>