<div class="container" style="height: 200vh;">
    <div class="card mb-3 mt-3">
        <div class="row">
            <div class="col-3">
                <img src="assets/images/ADBS.jpg" alt="...">
            </div>
            <div class="col-6">
                <span class="badge badge-dark my-3">Quiz</span>
                <br>
                <h4 class="a-p">The title</h4>
                <p style="color: gray; font-size: 0.8rem;">
                    <span> <i class=" fas fa-bullseye mr-2"></i> Độ chính xác trung bình 92% </span>
                    <span> <i class="fas fa-play mx-2"></i> 1000 lược tham gia</span>
                </p>
                <p style="color: gray; font-size: 0.8rem;">
                    <span><i class="fas fa-graduation-cap mr-2"></i> Lớp 10</span>
                    <span class="ml-3"> <i class="fas fa-book  mx-2"></i>Môn tin</span>
                </p>
            </div>
            <div class="col-3 d-flex pt-3 justify-content-end aligt-center">
                <span class="btnaro mx-2">
                    <i class="fas fa-exclamation"></i>
                </span>
                <span class="btnaro mx-2">
                    <i class="fas fa-copy"></i>
                </span>
                <span class="btnaro mx-2 mr-3">
                    <i class="fas fa-print"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="stikybtn">
        <button type="button" class="btn color-p">
            <i class="fas fa-feather-alt mr-3"></i>Bắt đầu ngay
        </button>
        <button type="button" class="btn color-p">
            <i class="fas fa-chalkboard-teacher mr-3"></i> Học bài trước
        </button>
    </div>
</div>