<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light">
                <a href="quiz" style="color: #e74c3c;">
                    <i class="fab fa-angular mr-2"></i>Quiz
                </a>
            </h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li routerLinkActive="active"><a routerLink="home">Trang chủ</a></li>
                <li routerLinkActive="active"><a routerLink="about">Giới thiệu</a></li>
                <li routerLinkActive="active"><a routerLink="services">Dịch vụ</a></li>
                <li routerLinkActive="active"><a routerLink="contact">Liên hệ</a></li>
                <li routerLinkActive="active"><a routerLink="faq">Hỏi đáp</a></li>
                <li class="drop-down" routerLinkActive="active"><a href="quizs">Khóa học</a>

                </li>
                <li class="drop-down" routerLinkActive="active"><a routerLink="login">Tài khoản</a>
                    <ul>
                        <li><a routerLink="login">Đăng nhập</a></li>
                        <li><a routerLink="signup">Đăng Ký</a></li>
                        <li><a href="#">Quên mật khẩu</a></li>
                        <hr>
                        <li><a href="#">Đăng xuất</a></li>
                        <li><a href="#">Đổi mật khẩu</a></li>
                        <li><a href="#">Cài đặt tài khoản</a></li>
                    </ul>
                </li>

                <li class="get-started"><a href="quizs">Bắt đầu ngay</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->