<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
                <h1>Nền tảng trắc nghiệm trực tuyến </h1>
                <h2 class="mt-3">Tìm và tạo các câu đố đánh bạc miễn phí và các bài học tương tác
                </h2>
                <a href="quizs" class=" btn-get-started scrollto" id="c">Bắt đầu ngay</a>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section><!-- End Hero -->