/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none !important;
}

.a-w {
    color: white;
    transition: all 0.7s;
}
.a-w:hover {
    color: rgb(202, 202, 202);
}

.a-b {
    color: rgb(0, 0, 0);
    transition: all 0.7s;
}
.a-b:hover {
    color: rgb(129, 129, 129);
}

.a-p {
    color: #5d4fcc;
    transition: all 0.7s;
}
.a-p:hover {
    color: #4b3fa3;
}

.a-r {
    color: #eb4d4b;
    transition: all 0.7s;
}
.a-r:hover {
    color: #c71c19;
}

.color-p {
    background-color: #5d4fcc;
    transition: all 0.7s;
    color: white;
}

.color-p:hover {
    color: white;
    background-color: #4b3fa3;
}

.color-r {
    background-color: #eb4d4b;
    transition: all 0.7s;
    color: white;
}

.color-r:hover {
    color: white;
    background-color: #c71c19;
}

.a-o {
    color: #000000;
    transition: all 0.7s;
}

.a-o:hover {
    color: #e66d03;
}